<section class="list-item">
  <a [routerLink]="['/meals', item.id]">
    <p class="list-item__name">{{ item.name }}</p>
    <p class="list-item__ingredients">{{ item.ingredients }}</p>
  </a>

  <section class="list-item__delete" *ngIf="showDelete">
    <p>Remove the meal?</p>
    <button type="button" class="confirm" (click)="removeMeal($event)">
      Yes
    </button>
    <button type="button" class="cancel" (click)="toggleDelete($event)">
      No
    </button>
  </section>

  <button type="button" class="trash" (click)="toggleDelete($event)">
    <img src="assets/img/remove.svg" />
  </button>
</section>
