rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    //	Users requests
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
    }

		//	Schedule requests
    match /schedule/{scheduleId} {
    	allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
    }

    //	Meals requests
    match /meals/{mealId} {
    	allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
    }

    //	Workouts requests
    match /workouts/{workoutId} {
    	allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}
