<section class="calendar">
  <ft-schedule-controls
    [selected]="selectedDay"
    (weekChange)="selectWeek($event)">
  </ft-schedule-controls>

  <ft-schedule-days
    [selected]="selectedDayIndex"
    (dayChange)="selectDay($event)">
  </ft-schedule-days>

  <ft-schedule-item
    *ngFor="let section of sectionList"
    [section]="getSectionDetails(section)"
    [name]="getSectionName(section)"
    (selected)="openModal($event, section)">
  </ft-schedule-item>

  <section #modalPlaceholder></section>
</section>
