<section class="schedule-section">
  <section class="schedule-section__bar">
    {{ name }}
  </section>

  <section class="schedule-section__container">
    <div class="schedule-section__item">
      <ng-container *ngIf="section?.meals as meals; else addMeal">
        <div class="category-item food">
          <p class="category-item__name" (click)="onSelect('meals')">
            <a [routerLink]="['/meals', meal.id]"
              *ngFor="let meal of meals; last as l">
              {{ meal.name }}{{ l ? '' : ',' }}
            </a>
          </p>
        </div>
      </ng-container>

      <ng-template #addMeal>
        <div class="category-item empty" (click)="onSelect('meals')">
          <p class="category-item__empty">
            Assign meal
          </p>
        </div>
      </ng-template>
    </div>

    <div class="schedule-section__item">
      <ng-container *ngIf="section?.workouts as workouts; else addWorkout">
        <div class="category-item workout">
          <p class="category-item__name" (click)="onSelect('workouts')">
            <a [routerLink]="['/workouts', workout.id]"
              *ngFor="let workout of workouts; last as l">
              {{ workout.name }}{{ l ? '' : ',' }}
            </a>
          </p>
        </div>
      </ng-container>

      <ng-template #addWorkout>
        <div class="category-item empty" (click)="onSelect('workouts')">
          <p class="category-item__empty">
            Assign workout
          </p>
        </div>
      </ng-template>
    </div>
  </section>
</section>
